# ===============================
# SERVER CONFIG
# ===============================
PORT=4000
NODE_ENV=development

# ===============================
# DATABASE
# ===============================
MONGO_URI=your_mongodb_atlas_connection_string

# ===============================
# JWT CONFIG
# ===============================
JWT_ACCESS_SECRET=replace_with_access_secret
JWT_REFRESH_SECRET=replace_with_refresh_secret

ACCESS_TOKEN_EXPIRES=15m
REFRESH_TOKEN_EXPIRES=7d

# ===============================
# BANK CONFIG
# ===============================
BANK_NAME=TS Academy Bank

# ===============================
# DEFAULT ACCOUNT FUNDING
# ===============================
DEFAULT_OPENING_BALANCE=15000